.barnDance {
  background-color: hsl(31, 82%, 30%);
  color: hsl(0, 100%, 100%);
  padding: 0.25em 1.5em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;

  .name {
    color: hsl(31, 82%, 95%);
  }

  .onlineButton {
    background-color: hsl(0, 100%, 100%);
    color: hsl(31, 82%, 30%);
    border-radius: 0.5em;
    padding: 0 0.5em 0.1em 0.5em;

    &:hover {
      background-color: hsl(31, 82%, 90%);
      color: hsl(0, 100%, 100%);
    }

    a {
      text-decoration: none;
      color: hsl(31, 82%, 30%);
    }
  }
}
