.posterContainer {
  display: grid;
  grid-template-areas:
    'details'
    'poster';
}

@media screen and (min-width: 600px) {
  .posterContainer {
    grid-template-areas: 'poster details';

    .poster {
      padding-top: 0.3em;
    }

    .details {
      padding-left: 0.5em;
    }
  }
}

.details {
  grid-area: details;
}

.poster {
  grid-area: poster;
}
