.posterContainer {
  display: grid;
  grid-template-areas:
    'details'
    'poster';

  @media (min-width: 600px) {
    grid-template-areas: 'poster details';
    grid-template-columns: auto;
  }
}
