@import '../../../styles/variables';

.nav {
  a {
    display: inline-block; /* Force layout to respect vertical margin/padding */
    text-decoration: none;
    padding: $layout-link-padding;
    transition: background-color $layout-transition-duration;
    color: hsl(0, 0%, 100%);

    &.active {
      background-color: hsl(211, 82%, 40%);
    }

    &:hover {
      background-color: hsl(211, 82%, 40%);
    }

    &.icon {
      display: none;
    }
  }

  &:nth-child(n + 2) {
    margin-left: $layout-link-margin;
  }

  .dropdownContainer {
    position: relative;
    display: inline-block;

    .dropdownButton {
    }

    .dropdownContent {
      display: none;
      position: absolute;
      width: 150px;
      background-color: lightgray;
      z-index: 100;
    }
  }

  .dropdownContainer:hover .dropdownContent {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .nav {
    a {
      display: none;

      &.icon {
        display: block;
      }
    }

    .dropdownButton {
      display: none;
    }
  }
}

@media screen and (max-width: 680px) {
  .nav.responsive {
    a {
      display: block;

      &.icon {
        display: block;
      }
    }

    .dropdownButton {
      display: block;
    }

    .dropdownContainer .dropdownContent {
      display: none;
    }

    .dropdownContainer:hover .dropdownContent {
      display: block;
    }
  }
}
