$layout-background-colour: #2c4c58;
$layout-font-colour: #ffffff;
$layout-link-hover-colour: #506870;

$layout-link-padding: 1em;
$layout-link-margin: 0.5em;

$layout-transition-duration: 0.3s;

$list-border-colour: #979797;
$list-item-border-radius: 0.5em;
$list-item-padding: 0.5em;
