@import '../../styles/variables.scss';

.item {
  display: grid;
  grid-template-areas:
    'header'
    'description'
    'reserve';
  margin-bottom: 1em;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: $header-background-colour;
  color: hsl(0, 0%, 100%);
  border-radius: 5px 5px 0 0;
  padding-left: 0.5em;

  .topLink {
    margin-left: 0.5em;
    display: inline-block;
    padding: 1em;
    color: hsl(0, 0%, 100%);
  }

  .description {
    grid-area: description;
  }

  .reserve {
    grid-area: reserve;
  }
}
