.container {
  display: grid;
  grid-template-areas:
    'image title'
    'nav nav';
  grid-template-rows: auto;
  grid-template-columns: auto;
  background-color: hsl(211, 82%, 29%);
  color: hsl(0, 0%, 100%);

  .image {
    grid-area: image;
    margin: 0.75em;
  }

  .title {
    grid-area: title;
    text-align: center;
  }

  .subTitle {
    font-style: italic;
    font-size: 1.2rem;
  }

  .nav {
    grid-area: nav;
  }
}
